body {
    margin-top: 80px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 64px;
    margin-right: 64px;
}

.logo-image {
    display: flex;
    min-height: 300px;
    max-height: 100px;
    min-width: 500px;
    max-width: 500px;
    flex: 0 0 50%;
    background-color: gray;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

.navigation ul{
    display: flex;
    gap: 16px;
    margin: 0;
    margin-top: 16px;
    padding: 0;
}

.social-links ul {
    display: flex;
    gap: 16px;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 8px;
    padding: 0;
}

.content {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    margin-top: 32px;
    margin-left: 64px;
    margin-right: 64px;

}

.content-box {
    background-color: bisque;
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;
}

.footer p a {
    text-decoration: underline;
} 